<p>{{employeeData.message}}</p>
<button type="button" class="btn btn-primary" (click)="onSortClick()">Sort by Salary (Decending)</button>
<button type="button" class="btn btn-primary" (click)="onSortClickAge()">Sort by Age (Decending)</button>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="employeeData">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Salary</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employeeData.data">
        <td>{{ employee.id }}</td>
        <td>{{ employee.employee_name }}</td>
        <td>{{ employee.employee_salary }}</td>
        <td>{{ employee.employee_age }}</td>
      </tr>
    </tbody>
  </table>
